NEXT_PUBLIC_SUPABASE_URL=https://bytfedyieszhextxdjjv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5dGZlZHlpZXN6aGV4dHhkamp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzOTMyOTgsImV4cCI6MjA5Njk2OTI5OH0.QUUemWd6yuMoeama9n1OsfvPZxEFJoYwfgIGmI0NErQ
